<div class="c_instrumentoShowHeading">
    <p class="c_instrumentoShowHeading__Title">{{instrument.name}}</p>

    <div [ngClass]="{'paddingTopHorizontal': instrument.horizontal}">
    <div [ngClass]="{'paddingTopPrecio': instrument.precio}">
      <div class="c_instrumentoShowHeading__imgBox"
           
           [ngClass]="{guitarra:instrument.instrumento==='guitarra' ,bajo:instrument.instrumento==='bajo' }">
                  <div class="carrousel" id="carrousel1">
<!--                     <img [src]="instrument.imagePath+instrument.imageShowR" alt="">
                    <img [src]="instrument.imagePath+instrument.imageShowR" alt=""> -->

                      <div class="imagenes">
                        <img *ngFor="let image of instrument.images" [src]="instrument.imagePath+image"
                             alt="">
                      </div>

                    <button type="button" class="back">&lsaquo;</button>
                    <button type="button" class="forward">&rsaquo;</button>
  
                  </div>
      </div>
      </div>
    </div>

    <div class="c_instrumentoShowHeading__details" *ngIf="instrument.precio">
      <div class="c_instrumentoShowHeading__precio">
        <h2>Precio</h2>
        <h3 *ngIf="instrument.precio">{{instrument.precio}} € </h3>
      </div>
      <div class="c_instrumentoShowHeading__envio">
        <h2>Gastos Envío</h2>
        <h3 *ngIf="instrument.envio">{{instrument.envio}}<span
                [style.display]="isNumber(instrument.envio) ?'inline':'none' "> €</span>
        </h3>
      </div>
    </div>
</div>

