.c_instrumentoShowHeading {

    // padding: 1.5rem 0rem 0.1rem 0rem;
    background: black;
    overflow:hidden;


    &__img {
      display: block;
      margin: 0 auto;
      width: 60rem;
      height:auto;
      object-fit:cover;
      max-width: 100%;
    
    }
    &__details {
      position:relative;
      bottom:0px;
      // height:50px;
      width:100%;
      display:flex;
      flex-flow:row wrap;
      align-items:center;
      justify-content:center;
      background:#003453;
      color:white;

      
    
    }

    &__precio, &__envio {
      position:relative;
      bottom:0px;
      // height:50px;
      // width:50%;
      flex-basis: 58.6rem;
      display:flex;
      align-items:center;
      justify-content:center;
      background:#003453;
      padding:.9rem 1rem;
      color:white;
      h2, h3 {
        font-size:1.45rem;
        font-family: 'Montserrat', sans-serif;
        font-weight:400;

        &:last-child {
          margin-left:2rem;
        }

      }
      
    
    }
        &__envio {
          background:white;     
          color:#003453;
                h2, h3 {
        font-size:1em;
        font-weight: 600;
      }
      h3 {
        font-size:1.05em;
     }

        }

        &__precio, &__envio {
          @media (min-width:678px) {
            line-height: 1.5rem;
          flex-basis: initial;
            width:50%;
          }
        }


    &__Title{
     font-size:1.6rem;
     font-weight:500;
    //  margin-bottom:1rem;
     background:white;
     padding:1.2rem 2rem;
     color: #044b74;
     font-weight:700;
    
    }
    &__imgBox{
     padding:0rem 0 .65rem;
     overflow:hidden;

    
    }



}

.paddingTopPrecio {
      .c_instrumentoShowHeading__imgBox{
     padding:0;

    
    }
}
