@import '~src/sassBEM/variables.scss';



[footer] {
    @include basicF();
    font-size:1.45rem;
    min-height:10rem;
    // background:rgba(0,0,0,1);
    background:$backgroundFooter;
    color:white;

}