@mixin basicF() {
    display:flex;
    justify-content:center;
    align-items:center;
}

[footer] {
    @include basicF();
    font-size:1.45rem;
    min-height:12rem;
    background:rgba(0,0,0,1);
    color:white;

}