<div pageMain pageMain-contact>
    <div contentMain>
        <h1>Contacto</h1>
        <div class="cabeceraImg">
          <img src="./../../assets/images/backgrounds/BackContact_Comp20-1400x933.jpg" alt="" srcset="">
        </div>
        <div class="contacto-Tipo">
            <a href="tel:+678870397">
                <span class="icono-mobile"></span>
                <p>678 87 03 97</p>
            </a>
            <a href="tel:+678870397">
                <span class="icono-whatsapp"></span>
                <p>678 87 03 97</p>
            </a>
            <a href="mailto:etayo1973@gmail.com">
                <span class="icono-email"></span>
                <p>etayo1973@gmail.com</p>
            </a>
            <a href="https://www.facebook.com/etayoluthier/">
                <span class="icono-facebook"></span>
                <p>Facebook</p>
            </a>
<!--             <a href="mailto:etayo1973@gmail.com">
                <span class="icono-instagram"></span>
                <p>Instagram</p>
            </a> -->
            <a href="https://www.pinterest.es/JuanFcoetayo/etayo-luthier/">
                <span class="icono-pinterest"></span>
                <p>Pinterest</p>
            </a>
        </div>
  </div>

</div>
