<div pageMain pageMain-contact>
    <div contentMain>
        <h1>Contacto</h1>
        <div class="cabeceraImg">
          <img src="./../../assets/images/backgrounds/BackContact_Comp20-1400x933.jpg" alt="" srcset="">
        </div>
    <p>" Pretendo crear instrumentos con personalidad propia, y que el músico experimente la sensación de tener entre
      sus manos algo suyo, algo fabricado exclusivamente para el, y que a su vez el sonido de este instrumento forme
      parte del carácter y sello personal del músico"</p>
    <p>En etayo Luther creamos guitarras y bajos de forma artesanal, bajo las especificaciones y necesidades de cada
      músico.</p>
    <p>Estamos especializados en guitarras tipo Klein: un instrumento concebido con el fin de mantener una correcta
      posición de la guitarra proporcionando una simbiosis entre guitarra y músico, evitando lesiones y molestias
      indeseadas.</p>
  </div>

</div>
