<div header>
    <ul>
        <li routerLink="/home"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</li>
        <li routerLink="/guitars" routerLinkActive="active">Guitars</li>
        <li routerLink="/guitarsKlein" routerLinkActive="active">Klein</li>
        <li routerLink="/guitarsVenta" routerLinkActive="active">Venta</li>
        <li routerLink="/bass" routerLinkActive="active">Bass</li>
        <li routerLink="/contact" routerLinkActive="active">Contact</li>
<!--         <li routerLink="/pastillas" routerLinkActive="active">Pastillas</li>
        <li routerLink="/maderas" routerLinkActive="active">Maderas</li> -->
    </ul>
</div>
