[header] {
    background:rgba(220, 220, 220, 0.2);
    font-size: 1.35rem;
    
    ul {
       display:flex;
       justify-content:center;
       align-items:center;
       height:4rem;
       overflow:hidden;
   }
   li {
       padding:1rem 2rem;
       cursor:pointer;
       transition:transform .2s ease-in-out;
       &:not(.active):hover {
           transform:scale(1.2);
           color:white;
           background:rgba(4, 75, 116,1);
       }
   }
}