
    <div header (window:resize)="onResize($event)" >
        <!-- <div logo routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
             ngIf="isDeskTop"></div> -->
        <div logo routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
             ></div>
        <ul  *ngIf="isDeskTop">
            <li routerLink="/home"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</li>
            <li routerLink="/guitars" routerLinkActive="active">Guitars</li>
            <li routerLink="/guitarsKlein" routerLinkActive="active">Tipo Klein</li>
            <li routerLink="/guitarsVenta" routerLinkActive="active">Venta</li>
            <li routerLink="/bass" routerLinkActive="active">Bass</li>
            <li routerLink="/contact" routerLinkActive="active">Contact</li>
        </ul>
        <div *ngIf="!isDeskTop">
            <div menumobile (click)="onMenu()">Menu</div>
            <div [style.opacity]="isDeskTop||deployed?1:0">
                        <ul mobile (click)="onLink()">
                            <li routerLink="/home"  routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact:true}">Home</li>
                            <li routerLink="/guitars" routerLinkActive="active">Guitars</li>
                            <li routerLink="/guitarsKlein" routerLinkActive="active">Tipo Klein</li>
                            <li routerLink="/guitarsVenta" routerLinkActive="active">Venta</li>
                            <li routerLink="/bass" routerLinkActive="active">Bass</li>
                            <li routerLink="/contact" routerLinkActive="active">Contact</li>
                    <!--         <li routerLink="/pastillas" routerLinkActive="active">Pastillas</li>
                            <li routerLink="/maderas" routerLinkActive="active">Maderas</li> -->
                        </ul>
            </div>
        </div>
    </div>

