[header] {
    background:rgba(243, 243, 243,1);
    font-size: 1.35rem;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index:100;
    // border-bottom: 0.1rem solid rgb(177, 177, 177);
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    
    ul {
       display:flex;
       justify-content:center;
       align-items:center;
       height:4rem;
       overflow:hidden;
   }
   li {
       padding:1rem 2rem;
       cursor:pointer;
       transition:transform .2s ease-in-out;
       &:not(.active):hover {
           transform:scale(1.2);
           color:white;
           background:rgba(4, 75, 116,1);
       }
   }
}