@import '~src/sassBEM/variables.scss';

[guitar] {
    @include basicF();
    justify-content: flex-start;
    flex-flow: column wrap;
    background: $backgroundBassesInd;
    color: $colorBassesInd;
    margin-bottom: 4rem;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.68);

    .c_Guitar {

        &__BoxContent {
            flex: 1 1 auto;
            width: 100%;
            padding: 2rem;
            @include basicF();
            justify-content:flex-start;
            align-items: flex-start;
            flex-flow: column wrap;
            min-height:17rem;
    
           *:not(.c_Guitar__Title) {
                margin-bottom: 1.25rem;
    
            }
    
             :first-child {
                font-size: 1.2em;
                font-weight: 600;
            }
    
            :last-child {
                margin-bottom: 1.5rem;
            }
    
        }

        &__Title {
        //    text-align:center;
           margin-bottom:1.5rem;
        }

        &__BoxImage {
            flex: 1;
            height: 12rem;
                &:active,
                &:focus {
                  outline: none;
                }
        }

        &__PriceReal {
            font-size: 1.8rem;
            background:#00253e;
            color:white;
            padding:.5rem 5rem;
            // margin-left:auto;
        }
        
        
    }
    
    
    img {
/*         height: auto;
        width: auto; */
        height: 200px;
        width: 300px;
        max-width:100%;
        margin-bottom: 1rem;
        cursor:pointer;
        object-fit:cover;
        // flex:none;
    }

}
