<div bass>
    <div class="c_Bass__BoxImage" [routerLink]="bass.name">
        <img rel="preload" [src]="bass.imagePath+bass.imageList" alt="" srcset="">
    </div>
    <div class="c_Bass__BoxContent">

        <p class="c_Bass__Title">{{bass.name}}</p>
        <p class="c_Bass__PriceReal" *ngIf="bass.precio">{{bass.precio}} €</p>
        <p class="c_Bass__Price">{{bass.tipo}}</p>
<!--         <p class="c_Bass__woodTapa">{{bass.woodTapa}}</p>
        <p class="c_Bass__woodCuerpo">{{bass.woodCuerpo}}</p> -->
    </div>
</div>

