@import '~src/sassBEM/variables.scss';

[bass] {
    @include basicF();
    justify-content: flex-start;
    flex-flow: column wrap;
    background: $backgroundGuitarsInd;
    color: $colorGuitarsInd;
    margin-bottom: 4rem;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);


    .c_Bass {

      &__BoxContent {
        flex: 1 1 auto;
        width: 100%;
        padding: 2rem;
        @include basicF();
        align-items: flex-start;
        flex-flow: column wrap;
          min-height: 22.5rem;

        *:not(.c_Bass__Title) {
          margin-bottom: 1.25rem;

        }

        :first-child {
          font-size: 1.2em;
          font-weight: 600;
        }

        :last-child {
          margin-bottom: 1.5rem;
        }

      }

      &__Title {
        text-align: center;
        margin-bottom: 2rem;
      }

      &__BoxImage {
        flex: 1;
        height: 12rem;
            &:active,
            &:focus {
              outline: none;
            }
      }


    }

    img {
        height: auto;
        width: 100%;
        margin-bottom: 1rem;
        cursor:pointer;

        // flex:none;
    }

}
