/* You can add global styles to this file, and also import other style files */


@import '~src/sassBEM/variables.scss';


:root {
    font-size: 62.5%;
}

*,
*:before,
*:after {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: url(./assets/images/backgrounds/dot-grid.png);



}

li {
    list-style:none;
    &:focus {
        outline:none
    }
}

a {
    text-decoration: none;
}

.active {
   border-bottom: .5px solid $colorActive;
    // margin-bottom:-.7rem;
    font-weight:700;
    font-size:1.6rem;
    color: $colorActive;
}

[ pageMain] {
    padding:#{$headerMinHeight + 5} 2rem 1rem 2rem ;
    font-size:1.25rem;
    max-width: $maxWidthMainPage;
    // background: rgba(243, 243, 243,1);
    background: url(./assets/images/backgrounds/dot-grid.png);
    background-position: -3.8px 0px;
    background-color: $backgroundMainPage;
    background-blend-mode: overlay;
    margin: 0 auto;
 
}
[ pageMain-show] {
  padding:#{$headerMinHeight + 1.5} 2rem 2rem 2rem;
}

.americana {
    background:lightblue;
    padding:2rem 3rem;
}

.guitarra {
    background:rgba(0, 0, 0,1);
}

.bajo {
    background:rgba(0, 0, 0, 1);
}

.volver {
  cursor: pointer;
  color: rgba(17, 89, 101, 1);
  color: rgba(255, 255, 255, 1);
  font-size:1.05em;

  &:active,
  &:focus {
    outline: none;
  }

  &Flecha {
          display: inline-block;
          margin-right: 5px;
          font-size: 1.4em;
          }
  
}