/* You can add global styles to this file, and also import other style files */


@import '~src/sassBEM/variables.scss';


:root {
    font-size: 66.5%;
}

*,
*:before,
*:after {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: url(./assets/images/backgrounds/dot-grid.png);
        line-height: 1.4;



}

li {
    list-style:none;
    &:focus {
        outline:none
    }
}

a {
    text-decoration: none;
}

.active {
   border-bottom: .5px solid $colorActive;
    // margin-bottom:-.7rem;
    font-weight:700;
    font-size:1.6rem;
    color: $colorActive;
}

[ pageMain] {
    padding:#{$headerMinHeight + 5} .5rem 1rem .5rem ;
    font-size:1.25rem;
    max-width: $maxWidthMainPage;
    // background: rgba(243, 243, 243,1);
    background: url(./assets/images/backgrounds/dot-grid.png);
    background-position: -3.8px 0px;
    background-color: $backgroundMainPage;
    background-blend-mode: overlay;
    margin: 0 auto;
 
}
[ pageMain-show] {
  padding:#{$headerMinHeight + 1.5} 2rem 2rem 2rem;
  max-width:100rem;
}

.americana {
    background:lightblue;
    padding:2rem 3rem;
}

.guitarra {
    background:rgba(0, 0, 0,1);
}

.bajo {
    background:rgba(0, 0, 0, 1);
}

.volver {
  cursor: pointer;
  color: rgba(17, 89, 101, 1);
  color: rgba(255, 255, 255, 1);
  font-size:1.05em;
  margin-bottom: 1.5rem;
  display: inline-block;
  margin-top: -0.4rem;

  &:active,
  &:focus {
    outline: none;
  }

  &Flecha {
          display: inline-block;
          margin-right: 5px;
          font-size: 1.4em;
          }
  
}




.carrousel {
    position: relative;
    margin: 1rem auto;
    padding-top: 66.6%;
    width: 100%;
    background: black;
    // overflow: hidden;
    max-width: 850px;
    @media only screen and (min-width:768px) {
    padding-top: initial;
    height:450px;

    }



img {
    position:absolute;
    width:100%;
    height:auto;
    top:0;
    left:50%;
    transform:translateX(-50%);
    opacity:0;
    object-fit:contain;
    transition: opacity .5s ease-in-out;
    @media only screen and (min-width:768px) {
            height:100%;
            width:auto;


    }

}


button {
    -webkit-appearance:none;
    padding: 5px;
    color:white;
    background:rgba(4, 75, 116,0.5);
    border:none;
    cursor:pointer;
    position: absolute;
    bottom: calc(0% - 11px) ;
    font-size: 1.65rem;
    width: 25px;
    height: 32px;
    
    @media only screen and (min-width:678px) {
        top: 50%;
        transform: translate(0%,-50%);
/*         width: 40px;
        height: 35px; */
        font-size: 2.25rem;
        width: 45px;
        height: 40px;
       
    }
    @media only screen and (min-width:1100px) {
        font-size: 2.65rem;
        width: 50px;
        height: 45px;
        padding: 5px 5px 8px;
    }
    &:active,&:focus {
        border:none;
        outline:none;
    }
    
    
    
}



button.forward {
    right:0;
}

.active {
    opacity: 1;
}


}